<!-- About Section -->
<section id="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>O que é {{site.eventName}}?</h3>
            <div class="row about-details">
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="0">
                        <h5>Conferência</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/conference.jpg" height="128" width="128" alt="Conference">
                        <p>O maior evento do Nordeste relacionado ao Google cuidadosamente elaborado para você da comunidade GDG! Palestrantes impressionantes e muita diversão!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
                        <h5>Workshops</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/workshop.jpg" height="128" width="128" alt="Workshops">
                        <p>Dia inteiro de workshops, hands-on, hacking e debugging. Venha domar a sua tecnologia favorita!</p>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="1000">
                        <h5>Hackathon</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/hackathon.jpg" height="128" width="128" alt="Hackathons">
                        <p>Dia inteiro hackaton free-style! Quer um pouco de teambuilding real? Pegue sua equipe e se junte à nosso hackathon!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
