<!-- Begin Statistic Section -->
<section id="statistic" class="parallax" style="background-image: url({{ site.baseurl }}/img/statistic.jpg);">
	<div class="overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="0">
					<div class="stat"><span class="timer" data-from="0" data-to="350">250</span>+</div>
					<div class="stat-info">Participantes</div>
					<hr>
					<p class="small">De todo Nordeste</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="500">
					<div class="stat"><span class="timer" data-from="0" data-to="48">24</span>+
					</div>
					<div class="stat-info">horas</div>
					<hr>
					<p class="small">de pura tecnologia Google</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1000">
					<div class="stat"><span class="timer" data-from="0" data-to="20">15</span>+</div>
					<div class="stat-info">Palestrantes</div>
					<hr>
					<p class="small">do Brasil</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1500">
					<div class="stat"><span class="timer" data-from="0" data-to="3">3</span>
					</div>
					<div class="stat-info">conteúdos extras</div>
					<hr>
					<p class="small">além do auditório principal</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Statistic Section -->
